**Student ID:**  RVUN23BCSXXX [edit]

**Section H**

**Assessment:** CO3: Percentile, Skewness and Kurtosis [10 Marks = 5 CODE + 5 MCQ]

Assessment Instructions:

- Do not delete cells containing #ans.
- Do not remove any pre-exit from the cell before writing the code * Only edit the datasetOX with your SET number.
- Do not create extra cells to write the code.
- Write all lines of code in the assigned question placeholder.

**Total Time:** 45 Minutes [ Including 15 min to upload and Download the File ]

**MCQ Time:** 10 Minutes

**Display** first 3 Rows from the dataset in the output.

In [10]:
#----------------------
import pandas as pd 
df = pd.read_csv('Dataset02 - Dataset02.csv') #replace the x with assigned SET
#-----------------------
#Write your code below this line
import pandas as pd
from scipy.stats import kurtosis
import seaborn as sns
import matplotlib.pyplot as plt
df.head(3)

   Index   Column1   Column2
0      1  65.78331  112.9925
1      2  71.51521  189.2627
2      3  69.39874  153.0269

**Question 00:** Calculate the 50th percentile of first column of the given set.

In [7]:
#ans1
#----------------------

#Write your code below this line
import numpy as np


selected_column = df['Column1']


np.percentile(selected_column, 50)

68.21805499999999

Edit this cell -- > **[Write the Explaination below this line] for conclusion from the above output in short**

**Question 01:** Demonstrate the skewness of column 1 in the assigned Dataset.

In [9]:
#ans2
#----------------------
import pandas as pd 
df = pd.read_csv('Dataset02 - Dataset02.csv') #replace the x with assigned SET
#-----------------------
#Write your code below this line
df['Column1'].skew()

-0.2664081466706914

Edit this cell -- > **[Write the Explaination below this line] for conclusion from the above output in short**

In [ ]:
#Rough work code cell : Write code below this line
Dataset02 - Dataset02.csv'

selected_column = df['Column1']
np.percentile(selected_column, 50)

**Question 02:** Demonstrate the direction of outlier in column 2 in the assigned Dataset.

In [22]:
#ans3
#----------------------
import pandas as pd 
df = pd.read_csv('Dataset02 - Dataset02.csv') #replace the x with assigned SET
#-----------------------
#Write your code below this line

df['Column2'].skew()

0.010012905355973118

In [14]:
#ans4
#Only Uncomment the correct answer with respect to above output interpretation

#print("Highly Positive Skewed")
#print("Highly Negative Skewed")
print("Normal Distribution")
#print("Moderated Positive Skewed")
#print("Moderated Negative Skewed")

Normal Distribution

Edit this cell -- > **[Write the Explaination below this line] for conclusion from the above output in short**

**Question 03:** Demonstrate weather the outlier is more or less  in column 1 of the assigned Dataset.

In [23]:
#ans5
#----------------------
import pandas as pd 
df = pd.read_csv('Dataset02 - Dataset02.csv') #replace the x with assigned SET
#-----------------------
#Write your code below this line

df['Column1'].kurt()

-0.2042169009240986

In [ ]:
#Rough work code cell : Write code below this line


Dataset02 - Dataset02.csv'

selected_column = df['Column1']
np.percentile(selected_column, 50)

Edit this cell -- > **[Write the Explaination below this line] for conclusion from the above output in short**

**Question 04:** Demonstrate weather the outlier is more or less  in column 2 of the assigned Dataset.

In [24]:
#ans6
#----------------------
import pandas as pd 
df = pd.read_csv('Dataset02 - Dataset02.csv') #replace the x with assigned SET
#-----------------------
#Write your code below this line

df['Column2'].kurt()

1.030048721766439

Edit this cell -- > **[Write the Explaination below this line] for conclusion from the above output in short**

In [ ]:
#Rough work code cell : Write code below this line

**Question 04:** Demonstrate weather the outlier is more or less  in column 2 of the assigned Dataset.

In [19]:
#ans7
#----------------------
import pandas as pd 
df = pd.read_csv('Dataset02 - Dataset02.csv') #replace the x with assigned SET
#-----------------------
#Write your code below this line
df['Column1'].kurt()

-0.2042169009240986

In [21]:
#ans8
#Only Uncomment the correct answer with respect to above output interpretation

#print("More Outliers as compare to Normal Distribution")
print("Less Outliers as compare to Normal Distribution")
#print("Equivalent to Normal Distribution")

Less Outliers as compare to Normal Distribution

Edit this cell -- > **[Write the Explaination below this line] for conclusion from the above output in short**

#------------------#--------------------#---------------------#--------------------#---------------------#--------------------#

**Short QUIZ LINK :** https://forms.gle/4ojasmPLU62B5qer7 
        
**ACCESS TIME :** 3:30 PM - 3:40PM