# **CO 3**

## 3.1 Distribution

## 3.1.1 Measuring Percentiles

*Instructions for submitting the exercises*

*   Do not delete cells containing **#ans**
*   Do not remove **#ans** from the cell before writing the code
*   Write all lines of code in the same cell
*   csv filename should be same as per the instructions
*   Use function print() to display the output or solution of the problem given
*   Save this submission file with your name along with initials.

#Level 1

**Example 1**

Given 1experience.csv, what are the 25th, 50th and 75th percentile values of the years of experience?

In [2]:
import pandas as pd

In [3]:
exp = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/1experience.csv")
exp

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2
5              2.9
6              3.0
7              3.2
8              3.2

In [ ]:
exp.describe()

       YearsExperience
count         9.000000
mean          2.266667
std           0.839643
min           1.100000
25%           1.500000
50%           2.200000
75%           3.000000
max           3.200000

In [ ]:
exp.quantile(0.25)

YearsExperience    1.5
Name: 0.25, dtype: float64

In [ ]:
exp.quantile(0.50)

YearsExperience    1.7
Name: 0.3, dtype: float64

In [ ]:
exp.quantile(0.75)



---

#Level 2

## **Problem 3.1.1.1 Analyse salary data**

3Salary_Data.csv gives data about the salary paid according to the years of experience.

In [4]:
df = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/3Salary_Data.csv")
df.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

**Example 2:**

Given 3Salary_Data.csv, what would be the percentile values of salary?

In [7]:
df['Salary'].describe()

count        30.000000
mean      76003.000000
std       27414.429785
min       37731.000000
25%       56720.750000
50%       65237.000000
75%      100544.750000
max      122391.000000
Name: Salary, dtype: float64

**Exercise 2**

Given 3Salary_Data.csv, what would be the percentile values of the years of expirence?

In [25]:
#ans2
# write the entire code below this line


df['YearsExperience'].quantile([0.25, 0.50, 0.75])

0.25    3.2
0.50    4.7
0.75    7.7
Name: YearsExperience, dtype: float64



---

## **Problem 3.1.1.2: Analyse Laptop price**

4laptops.csv gives data about the laptops.

In [12]:
df2 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/4laptops.csv")
df2.head(2)

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price_euros,Price_rupees
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,1339.69,118241.0
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,898.94,79340.0

**Example 3:**

Given 4laptops.csv, what are the percentile values of the laptop prices?

In [ ]:
df2['price_in_rupees'].describe()

count    9.770000e+02
mean     1.001899e+07
std      6.306430e+06
min      1.706375e+06
25%      5.326308e+06
50%      8.527428e+06
75%      1.311570e+07
max      5.423231e+07
Name: Price, dtype: float64

**Exercise 3:**

Given 4laptops.csv, what are the percentile values of the laptop weights?

In [24]:
#ans3
# write the entire code below this line
df2['Weight_kg'].quantile([0.25, 0.50, 0.75])

0.25    1.50
0.50    2.02
0.75    2.30
Name: Weight_kg, dtype: float64



---

## **Problem 3.1.1.3: Analyse McDonald's revenue**

6Mcd.csv gives data about the McDonald's revenue, growth.

In [15]:
df3 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/6Mcd.csv")
df3.head(5)

,Unnamed: 0,Year,McDonalds_Revenue_$Billion,Growth_rate_percent,Q1,Q2,Q3,Q4
0,0,1999,13.3,2.73913,5.43,5.795,6.035,5.609524
1,1,2000,14.2,7.00000,5.43,5.795,6.035,5.609524
2,2,2001,14.9,4.00000,5.43,5.795,6.035,5.609524
3,3,2002,15.4,4.00000,5.43,5.795,6.035,3.000000
4,4,2003,17.1,11.00000,3.80,4.300,4.500,4.600000

**Example 4:**


  Given 6Mcd.csv, what are the percentile values of the revenue?

In [ ]:
df3['McDonalds_Revenue_$Billion'].describe()

count    24.000000
mean     21.575000
std       4.335922
min      13.300000
25%      18.975000
50%      22.750000
75%      24.225000
max      28.100000
Name: McDonalds_Revenue_$Billion, dtype: float64

**Exercise 4:**

Given 6Mcd.csv, what are the percentile values of the revenue growth rate over the years?

In [23]:
#ans4
# write the entire code below this line
df3['Growth_rate_percent'].quantile([0.25, 0.50, 0.75])

0.25   -2.250000
0.50    2.869565
0.75    7.250000
Name: Growth_rate_percent, dtype: float64



---

## **Problem 3.1.1.4: Analyse Data Science Salary**

5ds_salaries.csv contains data for data science professionals.

In [18]:
df4 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/5ds_salaries.csv")
df4.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

**Example 5:**

Given 5ds_salaries.csv, what are the percentile values of salary in dollars?

In [ ]:
df4['salary_in_usd'].describe()

count      3755.000000
mean     137570.389880
std       63055.625278
min        5132.000000
25%       95000.000000
50%      135000.000000
75%      175000.000000
max      450000.000000
Name: salary_in_usd, dtype: float64

**Exercise 5:**

Given 5ds_salaries.csv, what are the percentile values of the remote working ratio?

In [22]:
#ans5
# write the entire code below this line
df4['remote_ratio'].quantile([0.25, 0.50, 0.75])

0.25      0.0
0.50      0.0
0.75    100.0
Name: remote_ratio, dtype: float64



---



---