# **CO 2**

## 2.2 Dispersion

## 2.2.1 Range

#Level 1

**Example 1**

What is the range of temperatures in 4range_example.csv?

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [45]:
temp = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/1range_exercise.csv")
temp

   marks
0     17
1     22
2      9
3     13
4     25
5     20
6     15

In [ ]:
temp.min(), temp.max()

(temperature   -5
 dtype: int64,
 temperature    30
 dtype: int64)

In [ ]:
temp.max() - temp.min()

temperature    35
dtype: int64

---

**Exercise 1**

What is the range of marks in 4range_exercise.csv?

In [46]:
#ans1
# write your code below this line

temp['marks'].max() - temp['marks'].min()

16



---

**Example 2**

What is the range of years of experience in 1experience.csv?

In [ ]:
exp = pd.read_csv("/content/drive/My Drive/DAP/DAP_Activity_Sets/Datasets/1experience.csv")
exp

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2
5              2.9
6              3.0
7              3.2
8              3.2

In [ ]:
exp.min(), exp.max()

(YearsExperience    1.1
 dtype: float64,
 YearsExperience    3.2
 dtype: float64)

---

**Exercise 2**

What is the range of years of experience in 2salary.csv?

In [12]:
#ans2
# write your code below this line
import pandas as pd
q=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/2salary.csv")
q

   Salary
0   39343
1   46205
2   37731
3   43525
4   39891
5   56642
6   60150
7   54445
8   64445

In [43]:
q['Salary'].max() - q['Salary'].min()

26714



---



---

#Level 2

## **Problem 2.2.1.1 Analyse salary data**

3Salary_Data contains data about the salary paid according to the years of experience.

In [16]:
df = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/3Salary_Data.csv")
df.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

**Example 3**

What is the range of *salary*?

In [ ]:
rng3 = df['Salary'].max() - df['Salary'].min()
print(rng3)

84660.0

**Exercise 3**

What is the range of *years of experience*?

In [27]:
#ans3
# write your code below this line
qb=df['YearsExperience'].max() - df['YearsExperience'].min() 
qb

9.4

---

## **Problem 2.2.1.2: Analyse laptop prices**

4laptops.csv contains data about the laptops with different features, specifications.

In [20]:
df2 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/4laptops.csv")
df2.head(2)

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,11912523.48
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,7993374.48

**Example 4**

What is the range of the price of laptops in the dataset?

In [33]:
print( df2['Price'].max() - df2['Price'].min() )

52525933.2

**Exercise 4**

What is the range of the screen size of laptops in the dataset?

In [36]:
#ans4
# write your code below this line

print( df2['Screen_size_inches'].max() - df2['Screen_size_inches'].min() )

8.299999999999999

---

## **Problem 2.2.1.3: Analyse games data**

7games.csv contains data about games from different genres, their rating, number of times the game was played, number of times the game is being played now, their reviews, etc.

In [38]:
df3 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/7games.csv")
df3.head(5)

,Unnamed: 0,Title,Release_Date,Team,Rating,Times_Listed,Number_of_Reviews,Genres,Summary,Reviews,Plays,Playing,Baclogs,Wishlist
0,0,Elden Ring,25-Feb-22,"['Bandai Namco Entertainment', 'FromSoftware']",4.5,39000,39000,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17000,38000,46000,48000
1,1,Hades,10-Dec-19,['Supergiant Games'],4.3,29000,29000,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hac000 and slash dungeon crawler ...,['convinced this is a rogueli000e for people w...,21000,32000,63000,36000
2,2,The Legend of Zelda: Breath of the Wild,3-Mar-17,"['Nintendo', 'Nintendo EPD Production Group No...",4.4,43000,43000,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30000,25000,5000,26000
3,3,Undertale,15-Sep-15,"['tobyfox', '8-4']",4.2,35000,35000,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrac000 is tied for #1 with nier automa...,28000,679,49000,18000
4,4,Hollow 000night,24-Feb-17,['Team Cherry'],4.4,3000,3000,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21000,24000,83000,23000

**Example 5**

 What is the range of the game ratings?

In [ ]:
ratingRange = df3['Rating'].max() - df3['Rating'].min()
print(ratingRange)

4.1

**Exercise 5**

 What is the range of the number of times the games was played?

In [39]:
#ans5
# write your code below this line
print( df3['Plays'].max() - df3['Plays'].min() )

99000

---

## **Problem 2.2.1.4: Analyse salary of data science professionals**

5ds_salaries.csv contains data about the type of employment, experience level, salary and their currency, salary converted into dollars, residence, remote nature, location of the company.

In [40]:
df4 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/5ds_salaries.csv")
df4.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

**Example 6**

What is the range salary in dollars of data science professionals in the dataset?

In [ ]:
sal_usd_range = df4['salary_in_usd'].max() - df4['salary_in_usd'].min()
print(sal_usd_range)

444868

**Exercise 6**

What is the range of remote working?

In [42]:
#ans6
# write your code below this line
print( df4['remote_ratio'].max() - df4['remote_ratio'].min() )

100



---



---

# Level 3

**Example 7**

What is the range of salaries in dollars, at different experience levels?

In [ ]:
df4['experience_level'].value_counts() # to view the number of different experience levels

SE    2516
MI     805
EN     320
EX     114
Name: experience_level, dtype: int64

In [ ]:
df4.groupby(['experience_level']).salary_in_usd.max()

experience_level
EN    300000
EX    416000
MI    450000
SE    423834
Name: salary_in_usd, dtype: int64

In [ ]:
df4.groupby(['experience_level']).salary_in_usd.min()

experience_level
EN     5409
EX    15000
MI     5132
SE     8000
Name: salary_in_usd, dtype: int64

In [ ]:
df4.groupby(['experience_level']).salary_in_usd.max() - df4.groupby(['experience_level']).salary_in_usd.min()

experience_level
EN    294591
EX    401000
MI    444868
SE    415834
Name: salary_in_usd, dtype: int64

---

**Exercise 7**

What is the range of salary in dollars based, at different remote ratios?

In [48]:
#ans7
# write your code below this line
df4.groupby(['remote_ratio']).salary_in_usd.max() - df4.groupby(['remote_ratio']).salary_in_usd.min()

remote_ratio
0      444118
50     417591
100    410868
Name: salary_in_usd, dtype: int64