### **CO 2**

##### 2.2 Dispersion

##### 2.2.2 Variance and Standard Deviation

**Assignment Instructions:**

- Do not delete cells containing #ans.
- Do not remove #ans from the cell before writing the code.
- Do not create extra cells to write the code.
- Write all lines of code in the assigned question placeholder.
- Use the same Dataset {CSV} file name directly as instructed in the assessment.

            1. Put the Dataset.csv file in the same location/directory as notebook.ipynb file.
            2. Example: pd.read_csv("dataset_name.csv")

- Use the print() function to display the output or solution of the problem given, Also check the demonstration below.

            1. Incorrect way: print("The Calculated Mean of the given task is: ", Answer)
            2. Correct way: print(answer)

- Save the submission file with your STUDENT_ID_FIRSTNAME [IN BLOCK LETTERS].

-  All the students must upload the Jupyter Source File [ Notebook ] within the above-mentioned format and No PDFs and other formats will be accepted for assessment.

**Total Time:**  50 Minutes [ Including 10 minutes to upload and Download the File ]

Note: Use the previous activity datasets for the respective activities.
Rules of the Assignment Submissions will be briefly described during the session.

#Level 1

**Example 1**

Calculate the variance of the given set of number of gold coins

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [4]:
import pandas as pd

In [5]:
dataset1 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/2variance_exercise.csv")
dataset1

   number_of_gold_coins
0                     4
1                     2
2                     5
3                     8
4                     6

In [6]:
#Calculate the variance using std() method with ddof = 0 parameter
# delta degrees of freedom is 1 by default
dataset1.var(ddof=0)

number_of_gold_coins    4.0
dtype: float64

In [7]:
#Calculate the standard deviation using std() method with ddof = 0 parameter
# delta degrees of freedom is 1 by default

dataset1.std(ddof=0)

number_of_gold_coins    2.0
dtype: float64



---

### Level 2

## **Problem 2.2.2.1 Analyse salary data**

Given **Dataset: 3Salary_data.csv**

What is the spread of the number of years of experience?

**Example 2**

In [26]:
#Write the code below this line [read the file and display the first 5 rows]
dataset2 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/3Salary_Data.csv")
dataset2

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [17]:
a=dataset2.head(5)

7.785155555555554

In [29]:
#ans1
#Write the code below for calculating the variance of attribute Years of Experience
a['YearsExperience'].var(ddof=0)

0.1736

In [30]:
#ans2
#Write the code below for calculating the Standard Deviation of attribute Years of Experience
a['YearsExperience'].std(ddof=0)

0.4166533331199932

---

What is the spread of salary?

In [31]:
#ans3
#Write the code below for calculating the Variance of attribute Salary
a['Salary'].var(ddof=0)

9510987.2

In [32]:
#ans4
#Write the code below for calculating the Standard Deviation of attribute Salary
a['Salary'].std(ddof=0)

3083.9888456348217



---



---

## **Problem 2.2.2.2: Analyse laptop prices**

4laptops.csv gives data about the laptops with different features, specifications.

In [20]:
df2 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/4laptops.csv")
df2.head(2)

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price_euros,Price_rupees
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,1339.69,118241.0
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,898.94,79340.0

**Example 3**

What is the variance of the laptop prices?

In [21]:
df2['Price_rupees'].var(ddof = 0)

3914278264.362066

What is the standard Deviation of Laptop Prices?

In [22]:
df2['Price_rupees'].std(ddof = 0)

62564.19314881369

**Exercise 3**

What is the variance of the laptop weights?

In [23]:
#ans5
# write your code below this line
df2['Weight_kg'].var(ddof = 0)

0.4431144657186953

What is the Standard Deviation of the laptop weights?

In [24]:
#ans6
# write your code below this line
df2['Weight_kg'].std(ddof = 0)

0.6656684352729182

---

## **Problem 2.2.2.3: Analyse McDonald's revenue**

6Mcd.csv data gives data about McDonald's revenue and growth.

In [33]:
df3 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON//6Mcd.csv")
df3.head(5)

,Unnamed: 0,Year,McDonalds_Revenue_$Billion,Growth_rate_percent,Q1,Q2,Q3,Q4
0,0,1999,13.3,2.73913,5.43,5.795,6.035,5.609524
1,1,2000,14.2,7.00000,5.43,5.795,6.035,5.609524
2,2,2001,14.9,4.00000,5.43,5.795,6.035,5.609524
3,3,2002,15.4,4.00000,5.43,5.795,6.035,3.000000
4,4,2003,17.1,11.00000,3.80,4.300,4.500,4.600000

**Example 4**

What is the variance of McDonald's revenue over the years?

In [38]:
df3['McDonalds_Revenue_$Billion'].var(ddof = 0)

18.016874999999995

what is the standard deviation of McDonald's revenue over the years?

In [39]:
df3['McDonalds_Revenue_$Billion'].std(ddof = 0)

4.244628959049306

**Exercise 4**

What is the variance of McDonald's revenue growth percent over the years?

In [47]:
#ans7
# write your code below this line
df3['Growth_rate_percent'].var(ddof = 0)

48.85144927536232

What is the standard deviation of McDonald's revenue growth percent over the years?

In [48]:
#ans8
# write your code below this line
df3['Growth_rate_percent'].std(ddof = 0)

6.989381179715577

---

## **Problem 2.2.2.4: Analyse salary of data science professionals**

5ds_salaries.csv data gives data about the type of employment, experience level, salary in their currency, salary converted into dollars, their residence, remote nature, location of the company.

In [42]:
df4 = pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON//5ds_salaries.csv")
df4.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

**Example 5**

What is the variance of salary in dollars of the data science professionals?

In [43]:
df4['salary_in_usd'].var(ddof = 0)

3974953021.204049

What is the standard deviation of salary in dollars of the data science professionals?

In [44]:
df4['salary_in_usd'].std(ddof = 0)

63047.22849740541

**Exercise 5**

What is the variance of the remote ratio?

In [45]:
#ans9
# write your code below this line
df4['remote_ratio'].var(ddof = 0)

2360.2670917250143

What is the standard deviation of the remote ratio?

In [46]:
#ans10
# write your code below this line
df4['remote_ratio'].std(ddof = 0)

48.58258012626557



---



---