In [14]:
import pandas as pd
data=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/1experience.csv")
data.head(5)

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [15]:
data['YearsExperience'].quantile(0.25)

1.5

In [16]:
data['YearsExperience'].quantile(0.50)

2.2

In [17]:
data['YearsExperience'].quantile(0.75)

3.0

In [18]:
data.describe()

       YearsExperience
count         9.000000
mean          2.266667
std           0.839643
min           1.100000
25%           1.500000
50%           2.200000
75%           3.000000
max           3.200000

In [19]:
a=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/3Salary_Data.csv")
a.head(5)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [20]:
a['Salary'].describe()

count        30.000000
mean      76003.000000
std       27414.429785
min       37731.000000
25%       56720.750000
50%       65237.000000
75%      100544.750000
max      122391.000000
Name: Salary, dtype: float64

In [21]:
b=pd.read_csv("/Volumes/PEN DRIVE/DATA ANALYTICS WITH PYTHON/4laptops.csv")
b.head(5)

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price_euros,Price_rupees
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,1339.69,118241.0
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,898.94,79340.0
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,575.00,50750.0
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,2537.45,223955.0
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,1803.60,159186.0

In [22]:
b['Weight_kg'].describe()

count    977.000000
mean       2.039128
std        0.666009
min        0.690000
25%        1.500000
50%        2.020000
75%        2.300000
max        4.700000
Name: Weight_kg, dtype: float64

In [26]:
import pandas as pd
b['SumColumn'] = b['Price_euros'] + b['Price_rupees']
b.to_csv('4laptops.csv')

In [27]:
b

,Manufacturer,Model_Name,Category,Screen_size_inches,Screen,CPU,RAM,Storage,GPU,Operating_System,Operating_System_Version,Weight_kg,Price_euros,Price_rupees,SumColumn
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37,1339.69,118241.0,119580.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34,898.94,79340.0,80238.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86,575.00,50750.0,51325.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83,2537.45,223955.0,226492.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37,1803.60,159186.0,160989.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN